.sectionWrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

.section {
    width: 1280px;
    padding: 64px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section img {
    width: 100%;
    object-fit: cover;
}

.scrollDownButton {
    position: absolute;
    bottom: 0;
    left: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    text-decoration: none;
    color: var(--dark-blue-color);
}

.scrollDownButton span {
    writing-mode: vertical-lr;
    text-transform: uppercase;
    font-size: .75rem;
    line-height: .75rem;
    letter-spacing: .2em;
}

.scrollDownButton div {
    background-color: var(--dark-blue-color);
    width: 2px;
    height: 100px;
}

.scrollDownButton svg {
    font-size: 13px;
    transition: transform 0.5s ease;
}

.scrollDownButton:hover svg {
    transform: translateY(8px);
}

@media (max-width: 1600px) {
    .scrollDownButton {
        display: none;
    }
}

@media (max-width: 992px) {
    .section {
        padding: 48px 20px;
    }
}